.DS_Store
/ibm_model/models
/ibm_model/word_pairs

**/.DS_Store
/vecalign
preprocess/embed
preprocess/outputs
preprocess/overlaps
preprocess/word_pairs
preprocess/seg_texts
preprocess/tightened_fr
preprocess/aligned_outputs
.vscode
/misc