/jane-eyre/models
/jane-eyre/french
/jane-eyre/italian
/jane-eyre/raw_data
/jane-eyre/misc/
/jane-eyre/prediction/
.DS_Store
/original
**/.DS_Store
/jane-eyre/word_pairs
/vecalign
fr_data/embed
fr_data/outputs
fr_data/overlaps